[submodule "plugins/vim/nerdtree"]
	path = plugins/vim/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/vim/jellybeans"]
	path = plugins/vim/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "plugins/vim/nerdtree-tabs"]
	path = plugins/vim/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "plugins/vim/nerdcommenter"]
	path = plugins/vim/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "plugins/z"]
	path = plugins/z
	url = https://github.com/rupa/z.git
[submodule "plugins/pathogen"]
	path = plugins/pathogen
	url = https://github.com/tpope/vim-pathogen.git
