[submodule "vim/bundle/scheme-mango"]
	path = vim/bundle/scheme-mango
	url = git://github.com/goatslacker/mango.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntax-json"]
	path = vim/bundle/syntax-json
	url = git://github.com/leshill/vim-json.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/mark-karkat"]
	path = vim/bundle/mark-karkat
	url = git://github.com/vim-scripts/Mark--Karkat.git
[submodule "vim/bundle/syntax-php"]
	path = vim/bundle/syntax-php
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "vim/bundle/indent-html-php"]
	path = vim/bundle/indent-html-php
	url = git://github.com/rekky/php-html-indent.vim.git
[submodule "vim/bundle/pdv-standalone"]
	path = vim/bundle/pdv-standalone
	url = https://lessmind@github.com/lessmind/pdv-standalone.git
[submodule "vim/bundle/selectColors"]
	path = vim/bundle/selectColors
	url = https://github.com/c9s/colorselector.vim.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "vim/bundle/ragtag"]
	path = vim/bundle/ragtag
	url = https://github.com/lessmind/vim-ragtag.git
[submodule "vim/bundle/css-color"]
	path = vim/bundle/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/javascript-syntax"]
	path = bundle/javascript-syntax
	url = git://github.com/othree/javascript-syntax.vim.git
[submodule "bundle/gsession"]
	path = bundle/gsession
	url = git://github.com/c9s/gsession.vim.git
